html, body { margin: 0; padding: 0; width: 100%; }
ul, li { margin-left: 0px; padding-left: 0px; list-style: none; }
.ui-loader { display: none; }

.tile-container { margin-left: auto; margin-right: auto; }
.tile-group { margin-bottom: 40px; }
.tile-content { border: solid 1px #808080; }
.tile-content, a.tile-content b { width: 144px; height: 73px; display: inline-block; overflow: hidden; }
.tile-text { text-align: center; line-height: 10pt; }
a.tile-content, a.tile-content:visited, a.tile-content:active, a.tile-content:link { color: #fff; text-decoration: none; margin-left: 4px; margin-bottom: 4px; }
span.bt { display: inline-block; padding: 15px; color: #fff; background-color: #102771; letter-spacing: 0px; }
.ctsltCntnr.ctItm { padding: 15px 10px; }
.ht { font-family:Microsoft YaHei; font-weight:bold;  font-size: 100%; }
.hide { display: none; }
b.big, .ht.big { font-size: 125%; }
b.small, .ht.smal { font-size: 75%; }
.tr { display: table-row; }
.td { display: table-cell; vertical-align: middle; text-align: center; }
.vm { vertical-align: middle; }
.fg-color-blue { color: #2d89ef !important; }
.fg-color-blueLight { color: #eff4ff !important; }
.fg-color-blueDark { color: #2b5797 !important; }
.fg-color-green { color: #00a300 !important; }
.fg-color-greenLight { color: #99b433 !important; }
.fg-color-greenDark { color: #1e7145 !important; }
.fg-color-red { color: #b91d47 !important; }
.fg-color-yellow { color: #ffc40d !important; }
.fg-color-orange { color: #e3a21a !important; }
.fg-color-orangeDark { 
    color: #da532c !important; }
.fg-color-pink { color: #9f00a7 !important; }
.fg-color-pinkDark { color: #7e3878 !important; }
.fg-color-purple {
     color: #603cba !important; }
.fg-color-darken { color: #1d1d1d !important; }
.fg-color-lighten { color: #d5e7ec !important; }
.fg-color-white { color: #ffffff !important; }
.fg-color-grayDark { color: #525252 !important; }
.fg-color-magenta { color: #ff0097 !important; }
.fg-color-teal { color: #00aba9 !important; }
.fg-color-redLight { color: #ee1111 !important; }
.bg-color-blue { background-color: #2d89ef !important; }
.bg-color-blueLight { background-color: #eff4ff !important; }
.bg-color-blueDark { background-color: #2b5797 !important; }
.bg-color-green { background-color: #00a300 !important; }
.bg-color-greenLight { background-color: #99b433 !important; }
.bg-color-greenDark { background-color: #1e7145 !important; }
.bg-color-red { background-color: #b91d47 !important; }
.bg-color-yellow { background-color: #ffc40d !important; }
.bg-color-orange { background-color: #e3a21a !important; }
.bg-color-orangeDark { background-color: #da532c !important; }
.bg-color-pink { background-color: #9f00a7 !important; }
.bg-color-pinkDark { background-color: #7e3878 !important; }
.bg-color-purple { background-color: #603cba !important; }
.bg-color-darken { background-color: #1d1d1d !important; }
.bg-color-lighten { background-color: #d5e7ec !important; }
.bg-color-white { background-color: #ffffff !important; }
.bg-color-grayDark { background-color: #525252 !important; }
.bg-color-magenta { background-color: #ff0097 !important; }
.bg-color-teal { background-color: #00aba9 !important; }
.bg-color-redLight { background-color: #ee1111 !important; }
[class*=border-color] { border: 2px solid; }
.border-color-blue { border-color: #2d89ef !important; }
.border-color-blueLight { border-color: #eff4ff !important; }
.border-color-blueDark { border-color: #2b5797 !important; }
.border-color-green { border-color: #00a300 !important; }
.border-color-greenLight { border-color: #99b433 !important; }
.border-color-greenDark { border-color: #1e7145 !important; }
.border-color-red { border-color: #b91d47 !important; }
.border-color-yellow { border-color: #ffc40d !important; }
.border-color-orange { border-color: #e3a21a !important; }
.border-color-orangeDark { border-color: #da532c !important; }
.border-color-pink { border-color: #9f00a7 !important; }
.border-color-pinkDark { border-color: #7e3878 !important; }
.border-color-purple { border-color: #603cba !important; }
.border-color-darken { border-color: #1d1d1d !important; }
.border-color-lighten { border-color: #d5e7ec !important; }
.border-color-white { border-color: #ffffff !important; }
.border-color-grayDark { border-color: #525252 !important; }
.border-color-magenta { border-color: #ff0097 !important; }
.border-color-teal { border-color: #00aba9 !important; }
.border-color-redLight { border-color: #ee1111 !important; }
*:hover[class=outline-color] { outline: 3px solid; }
.outline-color-blue { outline-color: #2d89ef !important; }
.outline-color-blueLight { outline-color: #eff4ff !important; }
.outline-color-blueDark { outline-color: #2b5797 !important; }
.outline-color-green { outline-color: #00a300 !important; }
.outline-color-greenLight { outline-color: #99b433 !important; }
.outline-color-greenDark { outline-color: #1e7145 !important; }
.outline-color-red { outline-color: #b91d47 !important; }
.outline-color-yellow { outline-color: #ffc40d !important; }
.outline-color-orange { outline-color: #e3a21a !important; }
.outline-color-orangeDark { outline-color: #da532c !important; }
.outline-color-pink { outline-color: #9f00a7 !important; }
.outline-color-pinkDark { outline-color: #7e3878 !important; }
.outline-color-purple { outline-color: #603cba !important; }
.outline-color-darken { outline-color: #1d1d1d !important; }
.outline-color-lighten { outline-color: #d5e7ec !important; }
.outline-color-white { outline-color: #ffffff !important; }
.outline-color-grayDark { outline-color: #525252 !important; }
.outline-color-magenta { outline-color: #ff0097 !important; }
.outline-color-teal { outline-color: #00aba9 !important; }
.outline-color-redLight { outline-color: #ee1111 !important; }
.fl { float: left; }
.fr { float: right; }
.cb { clear: both; }
.hr { clear: both; height: 1px; }
.il, .ilblk { display: inline-block; }
.pr { position: relative; }
.pa { position: absolute; }
.ml10 { margin-left: 10px; }
.ml20 { margin-left: 20px; }
.ml40 { margin-left: 40px; }
.mr10 { margin-right: 10px; }
.mr20 { margin-right: 20px; }
.m10 { margin: 10px; }
.m20 { margin: 20px; }
.mt10 { margin-top: 10px; }
.p10 { padding: 10px; }
.p20 { padding: 20px; }
.p15 { padding: 15px; }
.pb10 { padding-bottom: 10px; }
.pt10 { padding-top: 10px; }
.pb20 { padding-bottom: 20px; }
.pt20 { padding-top: 20px; }

.big { font-size: 125%; }
.small { font-size: 75%; }
.yellow { color: #FFFF00; }
.white { color: #fff; }
.fred { color: #f00; }

.mc { margin-left: auto; margin-right: auto; }
.ac { text-align: center; }
.wp100 { width: 100%; }
.hp100 { height: 100%; }
.oh { overflow: hidden; }
.oya { overflow: hidden; overflow-y: auto; }
.oxa { overflow: hidden; overflow-x: auto; }
td { text-align: center; vertical-align: middle; padding-top: 10px; padding-bottom: 10px; }
h1 { font-size: 2em; margin: 0.67em 0; }
h2 { font-size: 1.5em; margin: 0.83em 0; }
h3 { font-size: 1.17em; margin: 1em 0; }
h4 { font-size: 1em; margin: 1.33em 0; }
h5 { font-size: 0.83em; margin: 1.67em 0; }
h6 { font-size: 0.75em; margin: 2.33em 0; }
.even { background-color: #EFEFEF; }
  .carSlctItms { padding: 15px 1%; margin-bottom: 4px; width: 96%; margin-left: auto; margin-right: auto; background-color: #1aa00f; color: #fff; }
.ctsvItm { display: table-cell; padding: 10px 2px; height: 26px; width: 120px; text-align: center; background-color: #e3a21a; color: #FF0000; letter-spacing: 0px; font-weight: 900; font-size: medium; margin-right:4px; }
